.header {
    position: relative;
    width: 100%;
}

.img-welcome {
    max-width: 100%;
    height: auto;
    
}

.logo {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
}
.txt h1{
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size:36px;
}
.showButton {
    display: grid;
    place-content: center;
}

.link {
    text-decoration: none;
}
.downloadFile{
    padding: 2rem;
}
.card{
    box-shadow:none;
    background-color: #f0f0f0;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.columns{
    padding: 1rem;
}